@tailwind base;
@tailwind components;
@tailwind utilities;

body {}

#tsparticles {
  width: 100%;
  height: 100%;
}

.dark {
  background: rgb(15,23,42);
}

.light *::selection {
  background: #fde047;
  color: black;
}

.dark *::selection {
  color: white;
  background: #4c1d95;
}
